apiVersion: extensions/v1beta1  
kind: Deployment
metadata:
  name: db-deployment
  labels:
    app: db-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mysqldb
  template:
    metadata:
      labels:
        app: mysqldb
    spec:
      containers:
      - name: mysqldb
        image: mysql:5.7
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 3306
        env:
        - name: MYSQL_ROOT_HOST
          valueFrom: 
            secretKeyRef: 
              name: mysqldb-user-creds
              key: MYSQL_ROOT_HOST
        - name: MYSQL_USER
          valueFrom: 
            secretKeyRef: 
              name: mysqldb-user-creds
              key: MYSQL_USER
        - name: MYSQL_PASSWORD
          valueFrom: 
            secretKeyRef: 
              name: mysqldb-user-creds
              key: MYSQL_PASSWORD
        - name: MYSQL_DATABASE
          valueFrom: 
            secretKeyRef: 
              name: mysqldb-user-creds
              key: MYSQL_DATABASE
        - name: MYSQL_ROOT_PASSWORD
          valueFrom: 
            secretKeyRef: 
              name: mysqldb-user-creds
              key: MYSQL_ROOT_PASSWORD
        volumeMounts:
        - mountPath: "/var/lib/mysql"
          name: mysqlpvc
      volumes:
      - name: mysqlpvc
        persistentVolumeClaim:
          claimName: mysqlpvc